# Ignore all files in raw folder
/data/raw/*
# Exception: Keep README.md in raw folder
!/data/raw/README.md

# Ignore all files in processed folder
/data/processed/*
# Exception: Keep README.md in processed folder
!/data/processed/README.md
!/data/processed/merge_data.py
!/data/processed/features_merge_data.py
!/data/processed/user_features.py
!/data/processed/product_features.py
!/data/processed/user_product_matrix.py

